<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application android:networkSecurityConfig="@xml/network_security_config">

        <!-- 개발 중의 크래시가 운영 리포트에 섞이면 실제 사용자 영향도를 읽을 수 없다. -->
        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false" />
    </application>
</manifest>
